@font-face {
  font-family: 'Monofett Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Monofett Regular'), url('Monofett.woff') format('woff');
}

h1 {
  font-family: 'Monofett Regular';
  font-weight: 200;
}

h1:hover {
  animation-name: chroma;
  animation-duration: 3s;
}

.f-med {
  font-size: 4rem;
}

.titleFrame {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.card {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes chroma {
  20% {
    color: rgb(246, 44, 44);
  }
  40% {
    color: rgb(255, 255, 126);
  }
  60% {
    color: rgb(68, 68, 248);
  }
  80% {
    color: white;
  }
}
