@font-face {
    font-family: 'Monofett Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Monofett Regular'), url('Monofett.woff') format('woff');
    }
    

h1{
    font-family: 'Monofett Regular';
    font-size: x-large;
    font-weight: 200;
    color: #9EEBCF;
}